<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/learn-random.css">
    <link rel="stylesheet" href="/styles/scroll-bar.css">
    <title>myProject</title>
</head>
<body>

    <header>
        <div class="mobile">
            <div class="head">
                <div class="logo">Logo</div>
                <a id="more-button" class="more">Más</a>
            </div>
            <div id="links" class="links close-options">
                <a href="">Sobre mí</a>
                <a href="#contacto">Contacto</a>
            </div>
        </div>
    </header>

    <section>
        <div class="background">
            <div class="opacity"></div>
            <div class="welcome-text">
                <h1>Estructuras de datos, algoritmos y demas conceptos de tecnología.</h1>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="sections">
            <div class="section">
                <h2>Aprende</h2>
                <p class="paragraph">
                    ¿Quieres estudiar, pero no sabes que aprender el dia de hoy?.
                </p>
                <p class="paragraph">
                    Presiona el boton para encontrar un tema para estudiar, te proporcionara una lista de recursos para aprender.
                </p>
                <p class="paragraph">
                    También puedes encontrar <a href="#mas-contenido" class="link">información</a> de diferentes temas en esta web.
                </p>
            </div>
    
            <div class="section">
                <div>
                    <button class="button-main">Buscar Tema Random</button>
                </div>
            </div>
    
            <div class="section">
                <h2>¿Qué son las estructuras de datos?</h2>
                <div class="information">
                    <p class="paragraph">
                        Son formas organizadas de almacenar y organizar datos en una computadora para permitir su manipulación y acceso eficientes. Las estructuras de datos proporcionan diferentes formas de almacenar y representar datos según las necesidades específicas del problema o la aplicación. Algunos ejemplos comunes de estructuras de datos son: matrices, listas enlazadas, pilas, colas, árboles, grafos, tablas hash, entre otros. Cada estructura de datos tiene características y operaciones específicas que la hacen adecuada para ciertas tareas y operaciones.
                    </p>
                    <div class="img">
                        <img class="nodes"  src="/images/node-pentagon.svg" alt="">     
                    </div>
                </div>
            </div>
    
            <div class="section">
                <h2>¿Qué son los Algoritmos?</h2>
                <div class="information">
                    <p class="paragraph">
                        Son conjuntos de instrucciones o pasos definidos y ordenados que resuelven un problema o realizan una tarea específica. Los algoritmos toman datos de entrada, realizan una secuencia de operaciones y producen una salida deseada. Los algoritmos pueden ser representados de diversas formas, como pseudocódigo, diagramas de flujo o implementaciones en un lenguaje de programación. Los buenos algoritmos son eficientes, es decir, realizan su tarea de manera rápida y óptima, y se diseñan teniendo en cuenta factores como el tiempo de ejecución, el espacio de memoria utilizado y la escalabilidad.
                    </p>
                    <div class="img">
                        <img class="nodes"  src="/images/node-letters-triangle.svg" alt=""> 
                    </div>    
                </div>              
            </div>
    
            <div class="section">
                <h2>¿Porque aprenderlos?</h2>
                <p class="paragraph">
                    El conocimiento de las estructuras de datos y los algoritmos te permite desarrollar soluciones eficientes para problemas y tareas. Aprender sobre estructuras de datos adecuadas te permitirá almacenar y manipular datos de manera eficiente, mientras que el diseño de algoritmos eficientes te ayudará a resolver problemas en el menor tiempo posible y utilizando los recursos mínimos necesarios.
                </p>
                <div class="flex-center">
                    <img class="node-large"  src="/images/node-letters-list.svg" alt=""> 
                </div>
            </div>
    
            <div class="section" id="mas-contenido">
                <h2>Mas contenido</h2>
                <ul>
                    <li><a href="" class="link">Algoritmos</a></li>
                    <li><a href="" class="link">Estructuras de datos</a></li>
                </ul>
            </div>
        </div>
        
        <aside class="aside">
            
        </aside>
    </section>

    <footer id="contacto">
        <div class="content">
            <div>
                <p class="title">Contacto</p>
                <ul>
                    <li><a href="" class="link">Gmail</a></li>
                    <li><a href="" class="link">Outlook</a></li>
                </ul>
            </div>
            <div>
                <p class="title">Sobre mi</p>
                <ul>
                    <li><a href="" class="link">Descripción</a></li>
                    <li><a href="" class="link">Tiktok</a></li>
                    <li><a href="" class="link">Github</a></li>
                    <li><a href="" class="link">Instagram</a></li>
                </ul>
            </div>
            <div>
                <p class="title">¿Quieres Apoyar?</p>
                <p class="paragraph">
                    Si deaseas apoyar compartiendo información para incluirla en la plataforma, puedes contactarme.
                </p>
            </div>
            
        </div>
    </footer>
    <script type="module" src="/js/components.js"></script>
    <script type="module" src="/js/events.js"></script>
</body>
</html>